In [1]:
import pandas as pd

In [4]:
f=pd.read_csv("diabetes.csv")

In [5]:
f

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,102,52,0,0,25.1,0.078,21,0
1,6,87,80,0,0,23.2,0.084,32,0
2,1,173,74,0,0,36.8,0.088,38,1
3,2,74,0,0,0,0.0,0.102,22,0
4,2,99,0,0,0,22.2,0.108,23,0
...,...,...,...,...,...,...,...,...,...
763,0,147,85,54,0,42.8,0.375,24,0
764,0,162,76,56,100,53.2,0.759,25,1
765,0,100,88,60,110,46.8,0.962,31,0
766,0,180,78,63,14,59.4,2.420,25,1
767,2,197,70,99,0,34.7,0.575,62,1

In [6]:
print(f)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              0      102             52              0        0  25.1
1              6       87             80              0        0  23.2
2              1      173             74              0        0  36.8
3              2       74              0              0        0   0.0
4              2       99              0              0        0  22.2
..           ...      ...            ...            ...      ...   ...
763            0      147             85             54        0  42.8
764            0      162             76             56      100  53.2
765            0      100             88             60      110  46.8
766            0      180             78             63       14  59.4
767            2      197             70             99        0  34.7

     DiabetesPedigreeFunction  Age  Outcome
0                       0.078   21        0
1                       0.084   32        0
2                       0.088   38        1
3                       0.102   22        0
4                       0.108   23        0
..                        ...  ...      ...
763                     0.375   24        0
764                     0.759   25        1
765                     0.962   31        0
766                     2.420   25        1
767                     0.575   62        1

[768 rows x 9 columns]

In [11]:
f.head(25)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,102,52,0,0,25.1,0.078,21,0
1,6,87,80,0,0,23.2,0.084,32,0
2,1,173,74,0,0,36.8,0.088,38,1
3,2,74,0,0,0,0.0,0.102,22,0
4,2,99,0,0,0,22.2,0.108,23,0
5,6,125,76,0,0,33.8,0.121,54,1
6,3,102,74,0,0,29.5,0.121,32,0
7,4,114,64,0,0,28.9,0.126,24,0
8,3,121,52,0,0,36.0,0.127,25,1
9,8,143,66,0,0,34.9,0.129,41,1
10,6,194,78,0,0,23.5,0.129,59,1
11,10,115,0,0,0,35.3,0.134,29,0
12,5,168,64,0,0,32.9,0.135,41,1
13,12,106,80,0,0,23.6,0.137,44,0
14,8,188,78,0,0,47.9,0.137,43,1
15,2,92,52,0,0,30.1,0.141,22,0
16,0,119,0,0,0,32.4,0.141,24,1
17,9,89,62,0,0,22.5,0.142,33,0
18,3,111,62,0,0,22.6,0.142,21,0
19,5,128,80,0,0,34.6,0.144,45,0
20,9,164,78,0,0,32.8,0.148,45,1
21,6,137,61,0,0,24.2,0.151,55,0
22,5,162,104,0,0,37.7,0.151,52,1
23,3,125,58,0,0,31.6,0.151,24,0
24,5,104,74,0,0,28.8,0.153,48,0

In [13]:
f.head(-5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,102,52,0,0,25.1,0.078,21,0
1,6,87,80,0,0,23.2,0.084,32,0
2,1,173,74,0,0,36.8,0.088,38,1
3,2,74,0,0,0,0.0,0.102,22,0
4,2,99,0,0,0,22.2,0.108,23,0
...,...,...,...,...,...,...,...,...,...
758,1,71,78,50,45,33.2,0.422,21,0
759,1,122,90,51,220,49.7,0.325,31,1
760,2,100,70,52,57,40.5,0.677,25,0
761,1,86,66,52,65,41.3,0.917,29,0
762,13,106,72,54,0,36.6,0.178,45,0

In [15]:
f.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,0,147,85,54,0,42.8,0.375,24,0
764,0,162,76,56,100,53.2,0.759,25,1
765,0,100,88,60,110,46.8,0.962,31,0
766,0,180,78,63,14,59.4,2.420,25,1
767,2,197,70,99,0,34.7,0.575,62,1

In [17]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [21]:
f.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [20]:
f.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [22]:
f.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [23]:
f.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [25]:
f.index()

TypeError: 'RangeIndex' object is not callable

In [29]:
f.fillna("*")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,102,52,0,0,25.1,0.078,21,0
1,6,87,80,0,0,23.2,0.084,32,0
2,1,173,74,0,0,36.8,0.088,38,1
3,2,74,0,0,0,0.0,0.102,22,0
4,2,99,0,0,0,22.2,0.108,23,0
...,...,...,...,...,...,...,...,...,...
763,0,147,85,54,0,42.8,0.375,24,0
764,0,162,76,56,100,53.2,0.759,25,1
765,0,100,88,60,110,46.8,0.962,31,0
766,0,180,78,63,14,59.4,2.420,25,1
767,2,197,70,99,0,34.7,0.575,62,1

In [30]:
f

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,102,52,0,0,25.1,0.078,21,0
1,6,87,80,0,0,23.2,0.084,32,0
2,1,173,74,0,0,36.8,0.088,38,1
3,2,74,0,0,0,0.0,0.102,22,0
4,2,99,0,0,0,22.2,0.108,23,0
...,...,...,...,...,...,...,...,...,...
763,0,147,85,54,0,42.8,0.375,24,0
764,0,162,76,56,100,53.2,0.759,25,1
765,0,100,88,60,110,46.8,0.962,31,0
766,0,180,78,63,14,59.4,2.420,25,1
767,2,197,70,99,0,34.7,0.575,62,1