In [4]:
import pandas as pd
import numpy as np

In [6]:
marks=[10,20,30,40,50]
s=pd.Series(data=marks)
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
s[1]

20

In [12]:
sal=pd.Series(data=[150000,25000,50000,100000],index=['het','bhavya','naruto','hinata'])
newsel=sal*20/100 + sal
newsel

het       180000.0
bhavya     30000.0
naruto     60000.0
hinata    120000.0
dtype: float64

In [14]:
mobile_price=[100000,50000,89000,500000]
mobile_name=['Samsung','iquoo','asus','nokia']
mo=pd.Series(data=mobile_price,index=mobile_name,dtype=int)
mo

Samsung    100000
iquoo       50000
asus        89000
nokia      500000
dtype: int32

In [22]:
stu_name=['het','bhavya','jayraj']
enro_num=[23030400001,23030400002,23030400003]
res=pd.Series(data=stu_name,index=enro_num,dtype=str)
res

23030400001       het
23030400002    bhavya
23030400003    jayraj
dtype: object

In [37]:
date=pd.to_datetime("17/6/2025")
new=date+pd.to_timedelta([0,1,2,3,4],unit="D",unit="m")
temp=[45.5,65.5,78.1,78.4,85.5]
s=pd.Series(data=temp,index=new)
s

C:\Users\student\AppData\Local\Temp\ipykernel_2556\4228125970.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date=pd.to_datetime("17/6/2025")

2025-06-17    45.5
2025-06-18    65.5
2025-06-19    78.1
2025-06-20    78.4
2025-06-21    85.5
dtype: float64

In [44]:
rno=[i for i in range(181,186)]
marks=np.random.randint(0,11,5)
s=pd.Series(data=marks,index=rno)
s

181     3
182     3
183     9
184    10
185     8
dtype: int32

In [46]:
marks=np.random.randint(1,100,100).reshape(20,5)
rno=[i for i in range(101,121)]
df=pd.DataFrame(data=marks,index=rno,columns=['JSF','IAT','CA','CO','MDF'])
df

     JSF  IAT  CA  CO  MDF
101   39   76   6  77   50
102   78   31  28  95   79
103   85   18  44  42   42
104   67   78  82  14   83
105   52   23  17  21    1
106   51   74  78  26   65
107   22   24   4   8   85
108   99   81   4  99   93
109   64   27  76  64   54
110   64   41  61  35   56
111   88   61  16  88   42
112   72   52  41  15   37
113   13   30  87  55   13
114   67   34  81  55    6
115   17   39  95  32   99
116   72   29   1  70   97
117   20   34  94  64   89
118   19    4   2  32   77
119   45   76  33  41   74
120   76   87  14  90   50